<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/stylesheets/style.css">

</head>
<body style="background-color:white;">

<h2>Hoverable Dropdown</h2>
<p>Move the mouse over the button to open the dropdown menu.</p>

<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">

        <button type="submit" name="FR">
            <a href="/my-link?country=FR">
                FR
            </a>
        </button>

        <button type="submit" name="HU">
            <a href="/my-link?country=HU">
                HU
            </a>
        </button>

        <button type="submit" name="DE">
            <a href="/my-link?country=DE">
                DE
            </a>
        </button>

    </div>
</div>

</body>
</html>
